<ion-header>
  <ion-toolbar>
    <ion-title>Sleep Logger</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="presentModal()">Log Sleep</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Welcome to Sleep Logger!</h1>

  <!-- <ion-item>
    <ion-button (click)="presentModal()">Log Sleep</ion-button>
  </ion-item> -->

  <!-- {{dateSlept}} -->

<!-- Tab Bar Starts -->
  <ion-tabs>
    
    <ion-tab tab="dayLog">
      <!-- <h1>Welcome to Sleep Logger!</h1>
      <ion-button (click)="presentModal()">Log Sleep</ion-button>
      Sleep Log During The Day -->
    </ion-tab>
    <ion-tab tab="overnightLog">Overnight Sleep Log</ion-tab>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="dayLog">
        <ion-label>Day</ion-label>
        <ion-icon name="sunny"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button tab="overnightLog">
        <ion-label>Overnight</ion-label>
        <ion-icon name="moon"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
<!-- Tab Bar Ends -->


</ion-content>

